:root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #37c8b7;
}

.page {
  position: relative;
  width: 900px;
  margin: auto;
}

.loading {
  cursor: progress;
}

form {
  margin: 0 auto 10px auto;
  width: max-content;
  position: relative;
  display: grid;
}

input {
  border-radius: 20px;
  border: 2px solid #444;
  padding-left: 10px;
  height: 30px;
  margin-top: 10px;
}

.submit-btn {
  border: none;
  padding: 0;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 7px;
  cursor: pointer;
}

svg {
  height: 20px;
  width: 20px;
  background-color: #fff;
}

.error-handler {
  background-color: #93e1d8;
  border-radius: 20px;
  width: max-content;
  padding: 10px 20px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 35px;
}

.measurement-toggle {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
}

.content {
  margin: 50px auto 0 auto;
}

.content-card {
  background-color: #93e1d8;
  border-radius: 10px;
  padding: 10px 20px;
  width: max-content;
  margin: auto;
}
.heading {
  text-align: center;
}

.location {
  font-size: 1.2rem;
}

.current-weather {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  margin: 30px auto;
  gap: 30px;
}

.current-main {
  font-size: 1.2rem;
  width: 200px;
  text-align: center;
}

.current-temp {
  font-size: 2rem;
  margin: 20px;
}

.current-extra {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  width: 400px;
  justify-content: center;
}

.extra-head {
  color: #555;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 10px;
}

.extra-head svg {
  background-color: transparent;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
  justify-content: center;
}

.forecast svg {
  background-color: transparent;
}

.day-card {
  display: grid;
  justify-items: center;
  text-align: center;
  width: 200px;
  height: 290px;
}

.day {
  font-size: 1.2rem;
}

.forecast-rain-chance {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-evenly;
  align-items: center;
}
